/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: rgba(255, 241, 247, 1);
  --bg-img: url(../images/cover-image-light.png);
  --primary-color: #FF8DCB;
  --decor-elem-color:  #353430;
  --header-title-color: rgba(255, 194, 230, 1);
  --header-text-color: #353430;
  --border-color-opacity: rgba(50, 49, 45, 0.4);
  --paragaph-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgba(255, 241, 247, 1);
    --bg-img: url(../images/cover-image-light.png);
    --primary-color: #FF8DCB;
    --decor-elem-color:  #353430;
    --header-title-color: rgba(255, 194, 230, 1);
    --header-text-color: #353430;
    --border-color-opacity: rgba(50, 49, 45, 0.4);
    --paragaph-text-color: #353430;
  }
  :root:not(.theme-dark) .header__decor-elem::after,
  :root:not(.theme-dark) .header__decor-elem::before {
    display: none;
  }
}

.theme-light .header__decor-elem::before,
.theme-light .header__decor-elem::after {
  display: none;
}