/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  position: relative;
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

/* Хедер страницы */

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  position: relative;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.h1__title {
  color: var(--header-title-color);
  font-family: inherit;
  line-height: 0.83;
  font-size: var(--h1-size);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--primary-color);
}

.header__description {
  justify-self: end;
  align-self: start;
  margin-block-start: 55px;
  max-inline-size: 355px;
  line-height: var(--main-line-height);
  color: var(--header-text-color);
  background-color: var(--primary-color);
  font-weight: 700;
  white-space: pre-line;
}

/* Декоративные элементы */

.decorated-zone {
  padding: var(--decor-padding);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-elem-color);
  border-right: 1px solid var(--decor-elem-color);
  top: var(--decor-padding);
  right: var(--decor-padding);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-elem-color);
  border-left: 1px solid var(--decor-elem-color);
  bottom: var(--decor-padding);
  left: var(--decor-padding);
}

.header__decor-elem{
  position: absolute;
  top: 0;
  right: 0;
}

.header__decor-elem::before {
  content: 'REC';
  position: absolute;
  font-weight: 400;
  line-height: 25px;
  top: var(--decor-padding);
  right: calc(var(--decor-padding) + 28px);
  color: var(--decor-elem-color);
}

.header__decor-elem::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--decor-elem-color);
  border-radius: 50%;
  top: calc(var(--decor-padding) + 8px);
  right: calc(var(--decor-padding) + 9px);
  box-shadow: 0px 0px 4px 2px var(--decor-elem-color);
}

/* Стили для кнопок */

.header__theme-menu-button {
  background-color: transparent;
  padding: 1.5px 13px;
  font-size: var(--main-font-size);
  color: var(--decor-elem-color);
  border: none;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor-elem-color);
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--decor-elem-color);
}

/* Секции с текстом */

.content {
  margin: var(--main-margin);
}

.section {
  padding-bottom: var(--section-padding-bottom);
}

.section:first-child {
  padding-top: var(--section-padding-top);
}

.section:last-child {
  padding-bottom: var(--section-padding-top);
}

.question__section {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  gap: 20px;
}

.question__section-title-h2 {
  color: var(--decor-elem-color);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.question__section-article-container {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: 1fr;
  gap: 20px;
}

.question__section-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-h3 {
  color: var(--header-text-color);
  background-color: var(--primary-color);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: 700;
}

.question__section-text {
  color: var(--paragaph-text-color);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.question__section-title-h4 {
  color: var(--header-text-color);
  background-color: var(--primary-color);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: 400;
}

.question__section-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--primary-color);
}

.question__section-link:hover {
  text-decoration: underline;
}

.question__section-link:focus {
  outline: none;
}

.question__section-link:focus-visible {
  border: 1px solid var(--paragaph-text-color);
}

/* Секция с картинками */

.images__section {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  gap: 10px;
}

.images__content {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  gap: 10px;
}

.image__content {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

/* Футер */

.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width >= 768px) {
  /* Хедер страницы */
  .header {
    min-block-size: 1024px;
  }

  .decorated-zone {
    padding-left: 0;
  }

  .header__description {
    align-self: center;
    margin-block-start: 0;
    margin-inline-end: 10px;
    max-inline-size: 364px;
  }

  /* Секции с текстом */

  .consentration_section {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .attention-title {
    max-inline-size: 236px;
  }

  /* Секция с картинками */

  .images__section {
    gap: 20px;
  }

  .images__content {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .image__content:first-child {
    grid-column: 1/3;
  }
  .image__content:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }
  .image__content:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }
  .image__content:last-child {
    grid-column: 2/4;
  }

  /* Футер */

  .footer {
    padding-left: var(--decor-padding);
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }
  .header__description {
    max-inline-size: 491px;
    margin-inline-end: 0;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .consentration_section {
    gap: 11px;
  }

  /* Секции с текстом */

  .attention-section {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }

  .attention-title {
    max-inline-size: 315px;
  }

  .attention-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}